@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #C90C4F;
    /* --off-white: #F3F4F6; */
    --off-white: #FCE7F3;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: var(--primary-color);
}

main {
    text-align: center;
    margin: 3rem;
    height: 400px;
    padding:20px;
    background-color: var(--off-white);
  }
  
  h1 {
    font-size: xx-large;
    margin: 2rem;
  }


  .input-label {
    display: block;
    font-size: large;
    font-weight: 600;
  }
  
  .input-date {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
  }

  #check-btn {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
  }
  
  .output {
    font-size: x-large;
    margin: 2rem 0;
  }
